@font-face {
	font-family: "RGWeb";
	src: url("http://fonts.registerguard.com/rg/rgweb.eot");
	src: url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
	     url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
	     url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
	     url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.uav,
#uav_top,
#uav_middle,
#uav_bottom {
	position: relative;
	background: #fff;
	margin: 0 auto;
	width: 980px;
}

#uav_top { padding-top: 10px; }

#uav_bottom { padding-bottom: 10px; }

#uav_header { *zoom: 1; } #uav_header:before, #uav_header:after { content: " "; display: table; } #uav_header:after { clear: both; }
#uav_header {
	position: relative;
	margin-bottom: 10px;
}

#uav_flag {
	font: 2.5em "RGWeb", Cambria, Georgia, serif; /* 40px */
	line-height: 1.2; /* 3em / 2.5 = 1.2 */
	color: #000;
	margin: 0;
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
}
	#uav_flag a,
	#uav_flag a:visited,
	#uav_flag a:visited:hover,
	#uav_flag a:focus,
	#uav_flag a:focus:hover,
	#uav_flag a:hover,
	#uav_flag a:active {
		color: #000;
		text-decoration: none;
	}

#uav_global { *zoom: 1; } #uav_global:before, #uav_global:after { content: " "; display: table; } #uav_global:after { clear: both; }
#uav_global,
#uav_global li {
	margin: 0;
	padding: 0;
}

#uav_global {
	font: .813em Arial, sans-serif; /* 13px */
	line-height: 3.690036900369;
	text-transform: uppercase;
	list-style: none;
	margin-left: -20px;
	display: block;
}
	#uav_global li {
		margin-left: 20px;
		float: right;
		display: inline;
	}
		#uav_global li a {
			color: #000;
			text-decoration: none;
		}
			#uav_global li a:visited { color: #000; }
			#uav_global li a:visited:hover,
			#uav_global li a:focus,
			#uav_global li a:focus:hover,
			#uav_global li a:hover,
			#uav_global li a:active {
				color: #000;
				text-decoration: underline;
			}

#uav_navigation { *zoom: 1; } #uav_navigation:before, #uav_navigation:after { content: " "; display: table; } #uav_navigation:after { clear: both; }

#uav_navigation {
	font-family: Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

/* Structure: */
#uav_links,
#uav_links li {
	margin: 0;
	padding: 0;
}

#uav_links {
	list-style: none;
	float: left;
	display: inline;
	width: 100%;
}
	#uav_links li {
		float: left;
		display: inline;
	}
		#uav_links li:last-child { float: right; }
		#uav_links li a { display: block; }

/* Skin: */
#uav_links { background-color: #000; }

#uav_links li {}
	#uav_links li a {
		letter-spacing: .05em;
		text-decoration: none;
		border-width: 1px 1px 0;
		border-style: solid;
		border-color: #000;
		background-color: #000;
		padding: 10px;
	}
		#uav_links li a,
		#uav_links li a:visited {
			color: #fff;
		}
			#uav_links li a:visited:hover,
			#uav_links li a:focus,
			#uav_links li a:focus:hover,
			#uav_links li a:hover,
			#uav_links li a:active {
				text-decoration: none;
				border-color: #ae1b1f;
				background-color: #ae1b1f;
				outline: 0;
			}

#uav_footer {
	border-top: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 10px 0;
	position: relative;
}

	#uav_footer p {
		font: .688em/2.18023255813953 Arial, sans-serif; /* 11px */
		text-transform: uppercase;
		letter-spacing: .05em;
		color: #999;
		margin: 0;
		padding: 0;
	}

	#uav_footer a {
		color: #666;
		text-decoration: none;
	}
		#uav_footer a:visited {
			color: #666;
		}
			#uav_footer a:visited:hover,
			#uav_footer a:focus,
			#uav_footer a:focus:hover,
			#uav_footer a:hover,
			#uav_footer a:active {
				color: #000;
				text-decoration: underline;
			}

.uav_banner { padding: 10px 0; }

#uav_top .uav_banner { border-bottom: 1px solid #ccc; }
#uav_bottom .uav_banner { border-top: 1px solid #ccc; }

/* http://projects.registerguard.com/pages/templates/ap/hosted2/ */
/* This could use some more thought. CSS3 vertical rule gradient might be nice. */
.uav_layout {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(../images/bg-01.gif) repeat-y right top;
}

.uav_layout { *zoom: 1; } .uav_layout:before, .uav_layout:after { content: " "; display: table; } .uav_layout:after { clear: both; }

.uav_primary {
	display: inline;
	float: left;
	width: 640px;
	min-height: 1050px;
	position: relative;
	
	/* So min-height jump isn't so abrupt: */
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.uav_secondary {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	min-height: 1050px;
	padding-top: 20px;
	*margin-left: 40px; /* For some reason, this makes IE6 (and IE7?) look like other browsers (need to confirm this). */
	float: right;
}

.uav_fix { *zoom: 1; } .uav_fix:before, .uav_fix:after { content: " "; display: table; } .uav_fix:after { clear: both; }

.uav_advert {
	text-align: center;
	position: relative;
	margin: 0 auto;
}
	.uav_advert * {
		font-size: 100%;
		font: inherit;
		border: 0;
		margin: 0 auto;
		padding: 0;
		outline: 0;
	}
	.uav_advert img,
	.uav_advert object,
	.uav_advert iframe { display: block; }

#uav_firewall { border-collapse: collapse; }
	#uav_firewall .uav_firewall-dmz { border: none; }
