%uav_fix,
.uav_fix {
	
	*zoom: 1;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after { clear: both; }
	
}

#uav_firewall {
	
	border-collapse: collapse;
	
	.uav_firewall-dmz { border: none; }
	
}

.uav_wrap { padding: 10px 0; }
